# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xcscmblueprint
*.xccheckout
*.xcuserstate

# SwiftPM
.build/
Packages/
.swiftpm/
Package.resolved

# CocoaPods
Pods/
*.xcworkspace

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Swift Playgrounds
timeline.xctimeline
playground.xcworkspace

# Türevler
*.swp
*.lock

# App icon cache
*.appiconset/*.png

# Xcode user-specific data
xcuserdata/
*.xcuserstate
